body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #70d6ff;
    transition: 0.25s;
}
footer a:hover {
    color: #69db7e;
    transform: translateY(-0.25em);
}
footer .copyright:before {
    content: '©';
}

.footer-date,
.copyright {
    display: flex;
    gap: 15px;
}
