html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    overflow-x: hidden;
}
/*Header*/
header {
    position: sticky;
    top: 0;
    z-index: 2;
}
.header-container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding-top: 30px;
}
.logo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.logo:hover{
    cursor: pointer;
}
.logo-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    letter-spacing: 0.06em;
    color: #545454;
}
.logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #292929;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
}
.logo-link {
    text-decoration: none;
}
.nav-menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
    list-style: none;
    margin-top: 0;
    height: 60px;
    padding-right: 2px;
    padding-bottom: 2px;   
}
.nav-link {
    text-decoration: none;
    transition: 0.5s;
     padding-bottom: 3px;
}
.disabled {
    overflow: hidden;
}
.nav-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    color: #545454;;
}

.nav-link:hover {
    color: #292929;
    transform: translatey(-0.45em);
}
.nav-link-active {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;;
}

/* pets */
.pets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
    padding-top: 79px;
    padding-bottom: 100px;
    background: #F6F6F6;
}
.carousel-wrapper {
    width: 1200px;    
    height: 900px;
    overflow: hidden;
}
.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 3600px;
    max-height: 100%;
    left: -1200px;

}
.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    max-height: 900px;
}
@keyframes move-right {
    from {
        left: -1200px;
    }
    to {
        left: -2400px;
    }
}
.transition-right {
    animation-name: move-right;
    animation-duration: 0.5s;
}
@keyframes move-left {
    from {
        left: -1200px;
    }
    to {
        left: 0px;
    }
}
.transition-left {
    animation-name: move-left;
    animation-duration: 0.5s;
}
.pets-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding-left: 3px;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.navigation-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #292929;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-button:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}
.page-counter {
    background-color: #F1CDB3;
    cursor: auto;
}
.page-counter:hover {
    border-color: #F1CDB3;
    background-color: #F1CDB3 ;
}


.card {
    width: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background-color: #FAFAFA;
    border-radius: 9px;
    height: 435px;
}
.card:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}
.button-secondary {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.5s;
    text-align: center;
    text-decoration: none; 
    background-color: #FAFAFA;  
}
.button-secondary:hover {
    background: #FDDCC4;
    cursor: pointer;
    transform: translatey(-0.45em);
    border: 2px solid #FDDCC4;
}
.card:hover .button-secondary{
    background: #FDDCC4;
    cursor: pointer;
    border: 2px solid #FDDCC4;
}
/*footer*/
.footer-container {
    background: url(../../assets/images/footer-gradient-background.jpg);
    height: 350px;
    display: flex;
    padding-top: 40px;
    column-gap: 158px;
}
.contacts-link {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* or 23px */
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    margin: 0;
}
.contacts-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
    padding-top: 17px;
}
.contacts-tel {
    width: 280px;
}
.contacts-geo {
    width: 302px;
}
.footer-img {
    background-image: url(../../assets/images/footer-puppy.png);
    width: 300px;
    height: 310px;
    margin-left: 4px;
}
.footer-p {
    display: flex;
    column-gap: 20px;
    margin: 0;
    align-items: center;
    transition: 0.5s;   
}
.footer-p:hover {
    transform: translatey(-0.25em);
}
.email-p {
    margin-top: 41px;
}
.phone-p {
    margin-top: 38px;
}
.boston-p {
    margin-top: 33px;
}
.london-p {
    margin-top: 31px;
}
.burger {
    display: none;
}
.logo-burger {
    display: none;
}
.darkener {
    position: absolute;
}
/*POPUP*/
.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 952px;
    height: 552px;
    left: 50%;
    top: 50%;
    transform: translate(-47%, -50%);
    z-index: 3;
}
.modal-window {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    width: 900px;
}


.popup-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0;
    margin-top: 50px;
}
.popup-type {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0;
    margin-top: 10px;
}
.popup-description, .param-list {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* or 17px */
    letter-spacing: 0.06em;
    color: #000000;
    width: 350px;
    margin: 0;
    margin-top: 40px;
}
.param-list {
    padding: 0;
    margin: 0;
    margin-top: 40px; 
    list-style: none;  
}
.marker {
    padding-bottom: 3px;
    padding-right: 10px;
}
.param-item {
    margin-top: 11px;
}
.darkener.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(41, 41, 41);
    opacity: 60%;  
    transition: all 0.5s;
}
.close-btn {
    align-self: flex-end;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;     
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;  
    background-image: url(../../assets/images/close.png);
}
.close-btn:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    transition: 0.5s;
    border: 2px solid #FDDCC4;
}
.close-btn-hovered {
    cursor: pointer;
    background-color: #FDDCC4;
    transition: 0.5s;
    border: 2px solid #FDDCC4;
}
.hidden {
    display: none;
}


/*786 <= width < 1280*/

@media (max-width: 1279px) {
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    overflow-x: hidden;
    height: auto;
}


        /*header*/

.header-container {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding-top: 30px;
    height: 120px;
}

            /*pets*/

.pets-container {
    row-gap: 29px;
    padding-top: 80px;
    padding-bottom: 76px;
}
.carousel-wrapper {
    width: 580px;    
    height: 1365px;
    overflow: hidden;
}
.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1740px;
    max-height: 100%;
    left: -580px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 40px;
    max-width: 580px;
    max-height: 1365px;
}
@keyframes move-right {
    from {
        left: -580px;
    }
    to {
        left: -1160px;
    }
}
.transition-right {
    animation-name: move-right;
    animation-duration: 0.5s;
}
@keyframes move-left {
    from {
        left: -580px;
    }
    to {
        left: 0px;
    }
}
.transition-left {
    animation-name: move-left;
    animation-duration: 0.5s;
}

.navigation-container {
    margin-top: 11px;
}

/*POPUP*/
.popup {
    overflow: scroll;
    width: 682px;
    height: 402px;
    transform: translate(-47%, -50%);
}
.modal-window {
    gap: 11px;
    border-radius: 9px;
    width: 630px;
}
.popup-photo {
    width: 350px;
    height: 350px;
    border-radius: 9px;
}
.popup-name {
    margin-top: 10px;
}
.popup-type {
    margin-top: 10px;
}
.popup-description, .param-list {
    font-size: 13px;
    width: 260px;
    margin-top: 20px;
}
.param-list {
    margin-top: 20px; 
}
.marker {
    padding-bottom: 3px;
    padding-right: 10px;
}
.param-item {
    margin-top: 6px;
}


/*footer*/

.footer-container {
    background: url(../../assets/images/footer-gradient-background.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 639px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-left: 64px;
    padding-right: 64px;
    column-gap: 58px;
    row-gap: 61px;
}
.contacts-heading {
    padding-top: 0px;
}

.footer-img {
    margin-left: 0px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
}

    /* 320 <= vidth < 768*/

@media (max-width: 767px) {
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    height: auto;
}

        /*header*/



.header-container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

        /*pets*/
.pets-container {
    row-gap: 42px;
    padding-top: 42px;
    padding-bottom: 41px;
}
.pets-title {
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    margin: 0;
    padding-left: 0px;
}

.carousel-wrapper {
    width: 270px;    
    height: 1365px;
    overflow: hidden;
}
.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 810px;
    max-height: 100%;
    left: -270px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 0px;
    max-width: 270px;
    max-height: 1365px;
}
@keyframes move-right {
    from {
        left: -270px;
    }
    to {
        left: -540px;
    }
}
.transition-right {
    animation-name: move-right;
    animation-duration: 0.5s;
}
@keyframes move-left {
    from {
        left: -270px;
    }
    to {
        left: 0px;
    }
}
.transition-left {
    animation-name: move-left;
    animation-duration: 0.5s;
}
.navigation-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 0;
    padding: 0;
}


        /*footer*/
.footer-container {
    background: url(../../assets/images/footer-gradient-background320.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 30px;
    align-items: center;
    row-gap: 35px;
    column-gap: 100px;
}
.contacts-heading {
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    padding-top: 0px;
    text-align: center;
    width: 280px;
    margin: 0 auto;
}
.email-p {
    margin-top: 41px;
    margin-left: 14px;   
}
.phone-p {
    margin-top: 38px;
    margin-left: 20px;
}
.boston-p {
    margin-top: 40px;
}
.london-p {
    margin-top: 37px;
}
.footer-img {
    background-image: url(../../assets/images/footer-puppy.png);
    background-size: 260px 269px;
    width: 260px;
    height: 269px;
    margin-left: 0px;
    margin-top: 3px;
}


/*burger*/

.logo-burger {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 186px;
}

.nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: #FFFFFF;
    transition: 0.5s;
    z-index: 3;
    flex-direction: column;
    list-style: none;
    margin-top: 0;
    padding: 0;
    margin: 0; 
    transition: all 0.5s; 
}
.nav.open {
    right: 0;
}
.nav-menu{
    flex-direction: column;
    padding: 0;
    padding-top: 140px;
    row-gap: 40px;
    overflow: scroll;
    height: auto;
    width: 100%;
}
.nav-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    /* or 51px */
    color: #545454;
}
.nav-link-active {
    color: #292929;
    padding-bottom: 6px;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 22px;
    cursor: pointer;
    user-select: none;
    z-index: 3;
    margin-top: 19px;
    margin-right: 43px;   
    transition: all 0.5s;
}
.burger.open {
    transform: rotate(90deg);
}
.burger-line {
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: all 0.5s ease-in-out;
    z-index: 3;
}

.disabled {
    overflow: hidden;
}
.darkener.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(41, 41, 41);
    opacity: 60%;  
    transition: all 0.5s;
}
/*POPUP*/
.popup {
    width: 270px;
    height: 393px;
    transform: translate(-45%, -50%);
}
.modal-window {
    gap: 11px;
    border-radius: 9px;
    width: 240px;
    height: 341px;
}
.popup-photo {
display: none;
}
.popup-content {
    margin: 0 auto;
    text-align: justify;
}
.popup-name {
    margin-top: 10px;
    text-align: center;
}
.popup-type {
    margin-top: 10px;
    text-align: center;
}
.popup-description, .param-list {
    font-size: 10px;
    width: 220px;
    margin-top: 20px;
}
.popup-description {
    margin: 0 auto;
    margin-top: 20px;
}
.param-list {
    text-align: left;
    margin: 0 auto;
    margin-top: 24px; 
}
.marker {
    padding-bottom: 3px;
    padding-right: 10px;
}
.param-item {
    margin-top: 6px;
}

}