* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./assets/img/background.jpg);
    background-size:cover;
    background-attachment: fixed;
}



