html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    overflow-x: hidden;
}
/*Header*/
.header-container {
    height: 180px;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    background: url(/shelter/assets/images/start-screen-gradient-background.jpg);
}
.logo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.logo:hover{
    cursor: pointer;
}
.logo-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.1em;
    /* color-light-xl */
    color: #FFFFFF;
    margin: 0;
}
.nav-menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
    list-style: none;
    margin-top: 0;
    height: 60px;
    padding-right: 2px;
    padding-bottom: 2px;   
}
.nav-link {
    text-decoration: none;
    transition: 0.5s;
     padding-bottom: 3px;
}

.nav-link, .start-screen-subheading, .about-content {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    color: #CDCDCD;
}

.nav-link:hover {
    color: #FAFAFA;
    transform: translatey(-0.45em);
}
.nav-link-active {
    border-bottom: 3px solid #F1CDB3;;
}

/* start screen*/
.start-screen-container {
    height: 728px;
    background: url(/shelter/assets/images/start-screen-gradient-background.jpg);
    background-position: center -180px;
    display: flex;
    column-gap: 42px;
}
.start-screen-content {
    display: flex;
    flex-direction: column;
    row-gap: 41px;
    margin-top: 164px;
}
.start-screen-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    /* or 57px */
    color: #FFFFFF;
    width: 310px;
    margin: 0;
}
.start-screen-subheading{
    width: 460px;
    height: 72px;
    margin: 0;
}
.start-screen-img {
    width: 698px;   
    height: 728px;
    background-image: url(/shelter/assets/images/start-screen-puppy.png);

}

.make-a-friend-btn {
    margin-top: 1px;
}

/* button  */
.button-primary {
    display: inline-block;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
    
}
.button-primary:hover {
    background: #FDDCC4;
    cursor: pointer;
    transform: translatey(-0.45em);
}

/*  about */
.about-container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 100px;
    justify-content: center;
    column-gap: 120px;
    background: #FFFFFF;
}
.about-image {
    background-image: url(/shelter/assets/images/about-pets.png);
    width: 300px;
    height: 408px;
}
.about-title{
    width: 370px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    margin-top: 15px;
    margin-bottom: 0;
}
.about-content{
    width: 430px;
    color: #4C4C4C;
    margin: 0;
}
.about-text {
    margin: 0;
    margin-top: 25px;
}

/* poets */
.pets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}
#pets, #help {
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    margin: 0 auto;
    text-align: center;
}
.get-to-know-btn {
    width: 261px;
    height: 52px;
}
.slider-container {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 435px;
    margin-top: 60px;
    margin-bottom: 60px;
    column-gap: 53px;
}
.cards-container {
    display: flex;
    height: 100%;
}
.card-2 {
    margin-left: 90px;
    margin-right: 90px;
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background-color: #FAFAFA;
    border-radius: 9px;
}
.card:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

/*button*/
.button-secondary {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;  
}
.button-secondary:hover {
    background: #FDDCC4;
    cursor: pointer;
    transform: translatey(-0.45em);
    border: 2px solid #FDDCC4;
}
.card:hover .button-secondary{
    background: #FDDCC4;
    cursor: pointer;
    border: 2px solid #FDDCC4;
}
.left-btn, .right-btn {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
} 
.left-btn {
    background-image: url(/shelter/assets/images/Arrow.png);   
}
.right-btn {
    background-image: url(/shelter/assets/images/Arrow.png);
    transform: rotate(-180deg)
}
.left-btn:hover, .right-btn:hover {
    background-color: #FDDCC4;
    transition: 0.5s;
    border: 2px solid #FDDCC4;
}

/* HELP */

.help-container {
    padding-top: 80px;
}
.help-list-container {
    padding-top: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px 120px;
}
.help-item {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
}
.help-item p {
    margin-top: 25px;
}