html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    overflow-x: hidden;
}
/*Header*/
.header-container {
    height: 180px;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    background: url(/shelter/assets/images/start-screen-gradient-background.jpg);
}
.logo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.logo:hover{
    cursor: pointer;
}
.logo-title {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.1em;
    /* color-light-xl */
    color: #FFFFFF;
    margin: 0;
}
.nav-menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
    list-style: none;
    margin-top: 0;
    height: 60px;
    padding-right: 2px;
    padding-bottom: 2px;   
}
.nav-link {
    text-decoration: none;
    transition: 0.5s;
     padding-bottom: 4px;
}

.nav-link, .start-screen-subheading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    color: #CDCDCD;
}

.nav-link:hover {
    color: #FAFAFA;
}
.nav-link-active {
    border-bottom: 2px solid #F1CDB3;;
}

/* start screen*/
.start-screen-container {
    height: 728px;
    background: url(/shelter/assets/images/start-screen-gradient-background.jpg);
    background-position: center -180px;
    display: flex;
}
.start-screen-content {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    margin-top: 163px;
}
.start-screen-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    /* or 57px */
    color: #FFFFFF;
    width: 310px;
    margin: 0;
}
.start-screen-subheading{
    width: 460px;
    height: 72px;
}

/* buttons */
.button-primary {
    
}
