.filters-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter-group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 33%;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 20px;
}

h4 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
}

.value-filter-group div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.button1,
.button2 {
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    height: 27px;
    border: 1px solid black;
    background-color: transparent;
    transition: 0.3s;
    border-radius: 10px;
}
.button2 {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    }
.button1:hover,
.button2:hover,
.color-button:hover,
.favorite-button:hover,
.button-clear:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.button1-active,
.button2-active {   
    background-color: rgba(0, 225, 225, 0.5);
}

.color-button {
    font-size: 0;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    margin: 3px;
    transition: 0.3s;
}

.color-button-active {
    border-color:rgba(0, 225, 225, 0.8);
    border-width: 6px;
}

.button-gray {
    background-color: gray;
}
.button-green {
    background-color: green;
}
.button-red {
    background-color: red;
}
.button-camo {
    background-image: url(../assets/img/camo.jpg);
    background-position: center;
    background-size: contain;
}

.favorite-button {
    width: 32px;
    height: 32px;
    border-radius: 30%;
    background-image: url(../assets/img/favorite.svg);
    background-position: center;
    background-size: contain;
    background-color: transparent;
    transition: 0.3s;
}

.favorite-button-active {
background-color: rgba(0, 225, 225, 0.5);
}

.range-filter-group h5 {
    padding-bottom: 20px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.slider {
    width: 100%;
}

.noUi-target {
    background: none;
    border-radius: 100px;
    border: 3px solid black;
    box-shadow: none;
    height: 10px;
}

.noUi-connect {
    background: rgba(0, 225, 225, 0.5);
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-horizontal .noUi-handle {
    box-shadow: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 1);
    right: -10px;
    top: -8px;
    border: none;
}

.slider-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 50px;
    font-size: 16px;
    height: 27px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
}

.search {
    text-align: center;
    font-size: 16px;
    height: 27px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    background-image: url(../assets/img/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-bottom: 20px;
}

.sort {
    font-size: 16px;
    height: 27px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.clear-buttons-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button-clear {
    font-weight: 600;
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    border: 2px solid black;
    background-color: rgba(0, 225, 225, 0.5);
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 20px;
}

.button-clear:active {
    transform: scale(1);
}


@media (max-width: 1024px) {
    .filters-container {
        flex-direction: column;
        row-gap: 10px;
    }
    .filter-group {
        flex-direction: column;
        width: 100%;
    }
}